html {
    background-color: black;
}

html, body {
    margin: 0;
    font-size: 15px;
    color: white;
}

.bigC {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 99vh;
}

.text {
    border-style: double;
    border-color: rgb(165, 173, 173);
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pic {
    display: none;
}

.key {
    color: blue;
    border: solid white;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
    transition: all 1s ease;
    font-size: 50px;
}

.playing {
    transform: scale(1.5);
    border: none;
}

.playing .pic {
    display: block;
    object-fit: contain;
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    border: none;
}

.playing kbd {
    display: none;
}


.balloonStuff {
    position: absolute;
}

.balloonText {
    align-items: center;
}

.balloonDiv {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.balloon {
    z-index: 3;
    position: absolute;
}

.explosion {
    z-index: 1;
    position: fixed;
}

.exPic {
    max-height: 175px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-left: 3rem;
    margin-top: 3rem;
}

.footer {
    position: fixed;
    bottom: 0;
}